usr/share/qutebrowser/userscripts/node_modules/*
!usr/share/qutebrowser/userscripts/node_modules/.gitkeep

PKGs/*/*.tar.xz
PKGs/interception-caps2esc-git/caps2esc/
PKGs/interception-tools-git/tools/
PKGs/zsh-autopair/zsh-autopair/
PKGs/zsh-autosuggestions-git/zsh-autosuggestions/
PKGs/zsh-completions-git/zsh-completions/
PKGs/zsh-syntax-highlighting-git/zsh-syntax-highlighting/
PKGs/zsh-system-clipboard/zsh-system-clipboard/
PKGs/zsh-theme-powerlevel10k-git/powerlevel10k/

all/.config/Postman/
all/.config/Slack/
all/.config/bashtop/
all/.config/calcurse/apts
all/.config/calcurse/todo

node_modules

all/.config/newsboat/urls
all/.config/nvim/plugged/
all/.config/nvim/spell
