usr/share/qutebrowser/userscripts/node_modules/*
!usr/share/qutebrowser/userscripts/node_modules/.gitkeep

PKGs/*/*.tar.xz
PKGs/*/*.tar.zst
PKGs/interception-caps2esc-git/caps2esc/
PKGs/interception-tools-git/tools/
PKGs/zsh-autopair/zsh-autopair/
PKGs/zsh-autosuggestions-git/zsh-autosuggestions/
PKGs/zsh-completions-git/zsh-completions/
PKGs/zsh-syntax-highlighting-git/zsh-syntax-highlighting/
PKGs/zsh-system-clipboard/zsh-system-clipboard/
PKGs/zsh-theme-powerlevel10k-git/powerlevel10k/
PKGs/interception-caps2esc-git/src/
PKGs/keynav-git/keynav/

all/.config/Postman/
all/.config/Slack/
all/.config/bashtop/
all/.config/calcurse/apts
all/.config/calcurse/todo

node_modules

all/.config/newsboat/urls
all/.config/nvim/plugged/
all/.config/nvim/spell

all/.clojure/.cpcache
all/.config/Pinta/
all/.config/QtProject.conf
all/.config/VirtualBox/
all/.config/amfora/
all/.config/asciinema/
all/.config/calibre/
all/.config/chromium/
all/.config/coc-wiki/commands
all/.config/coc-wiki/extensions/coc-yank-data/
all/.config/coc-wiki/extensions/db.json
all/.config/coc-wiki/memos.json
all/.config/coc-wiki/mru
all/.config/coc-wiki/snippets-mru
all/.config/coc/commands
all/.config/coc/extensions/coc-yank-data/
all/.config/coc/extensions/db.json
all/.config/coc/list-commands-history.json
all/.config/coc/list-extensions-history.json
all/.config/coc/list-lists-history.json
all/.config/coc/list-location-history.json
all/.config/coc/list-snippets-history.json
all/.config/coc/list-symbols-history.json
all/.config/coc/list-yank-history.json
all/.config/coc/lists
all/.config/coc/memos.json
all/.config/coc/mru
all/.config/coc/snippets-mru
all/.config/configstore/
all/.config/dconf/user
all/.config/doctl/
all/.config/easytag/
all/.config/falkon/
all/.config/flameshot/
all/.config/gtk-2.0/gtkfilechooser.ini
all/.config/gtk-3.0/bookmarks
all/.config/i3/config
all/.config/libfm/
all/.config/libreoffice/
all/.config/lnav/
all/.config/local-envs
all/.config/mono.addins/
all/.config/mpd/database
all/.config/mpd/log
all/.config/mpd/pid
all/.config/mpd/state
all/.config/mpd/sticker.sql
all/.config/mps-youtube/cache_py_3.9.1
all/.config/mps-youtube/cache_py_3.9.2
all/.config/mps-youtube/input_history
all/.config/mps-youtube/play_history.m3u
all/.config/mps-youtube/transcode
all/.config/ncmpcpp/error.log
all/.config/neofetch/
all/.config/nvim-qt/
all/.config/nvim/autoload/
all/.config/nvim/local.vim
all/.config/pavucontrol.ini
all/.config/pcmanfm/
all/.config/pulse/
all/.config/qutebrowser/bookmarks/
all/.config/qutebrowser/config.default.py
all/.config/qutebrowser/qsettings/
all/.config/racket/
all/.config/syncthing/
all/.config/transmission/
all/.config/vifm/scripts/
all/.config/vifm/vifm-help.txt
all/.config/vifm/vifminfo.json
all/.config/vlc/
all/.config/vokoscreenNG/
all/.local/share/Trash/
all/.local/share/amfora/
all/.local/share/calibre-ebook.com/
all/.local/share/fonts/.uuid
all/.local/share/fonts/iA-Writer/.uuid
all/.local/share/iwctl/
all/.local/share/lpass/
all/.local/share/newsboat/
all/.local/share/nvim/
all/.local/share/password-store/
all/.local/share/qutebrowser/
all/.local/share/racket/
all/.local/share/recently-used.xbel
all/.local/share/tridactyl/
all/.local/share/vlc/
all/.local/share/xorg/
all/.local/share/zathura/
all/.vit/theme/__pycache__/
all/.w3m/cookie
all/.w3m/history
