#!/usr/bin/env sh

# This file runs when a DM logs you into a graphical session.
# If you use startx/xinit like a Chad, this file will also be sourced.

remaps &
dunst &
unclutter --ignore-scrolling --timeout 2 --jitter 15 --exclude-root --fork &
# libinput-gestures-setup start &
greenclip daemon &
xiccd &
keynav &
calcurse --daemon &
xmodmap-on-input-change &
nvidia-settings --load-config-only
redshift-gtk &
mpDris2 &
