.CaretBrowsing_Caret {
  min-width: 0.6em;
  --inherited-color: inherit;
  background-color: var(--inherited-color, #000);
  color: var(--inherited-color, #000);
  mix-blend-mode: difference;
  filter: invert(45%);
}
